<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Ajout specialite</title>
	<script src="https://kit.fontawesome.com/45e38e596f.js" crossorigin="anonymous"></script>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
</head>

<body>


	<div style="margin-bottom:2%;text-align: center">
		<div class="btn-group" style="margin-block: 2%;width: 13%;">
			<button type="button" class="btn btn-primary">
				<a th:href="@{/}" class="dropdown-item" href="#">Acceuil</a>
			</button>
		</div>
		<div class="btn-group">
			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
				Gestion-Depart
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a th:href="@{/departement/list}" class="dropdown-item" href="#">Consulter</a>
				<a th:href="@{/departement/add}" class="dropdown-item" href="#">Ajouter</a>
			</div>
		</div>

		<div class="btn-group">
			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Gestion-Special
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a th:href="@{/specialite/list}" class="dropdown-item" href="#">Consulter</a>
				<a th:href="@{/specialite/add}" class="dropdown-item" href="#">Ajouter</a>
			</div>
		</div>

		<div class="btn-group">
			<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
				data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				Gestion-Etudiants
			</button>
			<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
				<a th:href="@{/etudiant/list}" class="dropdown-item" href="#">Consulter</a>
				<a th:href="@{/etudiant/add}" class="dropdown-item" href="#">Ajouter</a>
			</div>
		</div>
	</div>

	<h2 align="center">Ajouter une specialite</h2>
	<div style="width: 70%; margin-left: 15%;margin-top: 3%;">
		<form action="#" th:action="@{/specialite/add}" th:object="${specialite}" method="post">
			<input type="hidden" th:field="${specialite.idSpecialite}" <div class="mb-3">
			<label class="col-form-label">Nom specialite</label>
			<input type="text" th:field="${specialite.libelleSpecialite}" class="form-control" id="libelleSpecialite"
				placeholder="nom Departement" />
			<span th:if="${#fields.hasErrors('libelleSpecialite')}" th:errors="*{libelleSpecialite}"
				class="text-danger">verifier nom specialite</span>
	</div>

	<button type="submit" class="btn btn-success" style="margin-left: 39%; width: 20%;">Ajouter</button>
	</form>
	</div>
</body>

</html>